<tr>
  <td colspan="2"><%= l(:label_easy_gantt) %>:</td>
</tr>
<tr>
  <td>
    <%= easy_printable_template_link_to_add_token('%easy_gantt_current%', f, l(:label_easy_gantt)) %>
  </td>
  <td>
    <%= l(:text_easy_gantt_print_easy_gantt_current) %>
  </td>
</tr>
