$form-input-height: 25px !default;
$mup-background-menu: white !default;
$mindmup-node-shadow: 5px 5px 5px 0 gray !default;

$retrace: .75 * $box-padding !default;
$retrace-mod: (0.25)*$box-padding !default;
