/*
* = require_self
*/

#container{
  position: relative;
  cursor: all-scroll;
}
.wbs_noselect {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

#easy_wbs #wbs_menu {
  user-select: none;
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: white;
}

#easy_wbs .menu-item {
  display: inline-block;
}

#wbs_menu .right-menu {
  float: right;
}

#easy_wbs.redmine .menu-item {
  padding: 8px 10px 8px 10px;
}

#easy_wbs.redmine .button.icon-magnifier {
  background-image: url('../../../images/magnifier.png');
}

#easy_wbs.redmine a.button-positive {
  background-color: #4ebf67;
  border-radius: 2px;
  border: 1.3px solid rgb(51, 141, 71);
  color: #ffffff;
  padding: 8px 16px;
}

.wbs_hover_menu {
  display: block;
  position: absolute;
  z-index: 99;
  background-color: white;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.wbs_context_menu_item {
  cursor: pointer;
}

.mapjs-exclamation {
  right: -.9em;
  position: absolute;
  top: -.9em;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAIWUlEQVR42p2XCWzT1x3Hv3/fTmI7jhPHuUpuxznpAgmES4GGjUFa1LWdWNWBRlXGpHZbN7Wr6DRNazWoqhY2rUDXlkOjbAgqVo5xqEk3Etqy0hyE3OQgd5zDsZP49n+/97e92mlMaZ/0Evkdv/d5v+v9/hzusx1amqXOUMielvD8dhH4YvCBCS7wh+Pg47hmL7hjvQ7nO7sauq33I5f7uvmTy4yZejF3ViaTFiY9WARNWgpiUw0QiSTgXW74PG7wHg/c9nlYBkZgHTNjoncAHq+3Zczt3brtv+09JIf/NgDiqytMbykk4mdyq78HfUkh4PXSsIhNCTcGT3J9fOA/zc3NwmWdgcsyhfHefgy3dcPp499+qL7lZ7TJ+00ApDXlef36vOykgscfofNkdK4UrvYWzLW3wn63Fx7LdED1EAAkGi2UaUsQk50HaXomnKOkjb4eDHbcwYzFNlJZd2sJrXTfD4D0o+XGPtPDG5OTViynm4ng6b+L8Q9PwWebBSRicCLqXPhWniB4n0/QhDg6BvqHNkMcG4upW80Y7x/A6Ih5uLK+JX0hBPeVw8vy7pqqqwxJ5ctIqhTWKxdgvfkZRDKZcDCCBzO1h3piyDjP+8C7PVAXlUBVthqTn32K8bsDGJuYHq2sa3kgFCIUQHyxPO9wmjF7Z+FTT5DFJLBcOIv5thZwUmng8MBKrwc+pxNwOf2/ZXKI5HKSIAlAwA9BzhmdlQvNyjUYr61F/8AQJucd7266fntX0CeCIrl9Bel5K+NiWte8+HNSsxK2miuYbfyCbi4l+4u/xCQ18w471LteQNRjO4Sh+dNHYT38GjiFktaKwtb6CEKVl4+YnAL0Xb6EQYsNn0zN5r/Q0tPOUIMAsqtleY3FP9hs0hcXwzs4DPOZk+DkAbWHNrKxjzzdUNMZNjy6PhcitSYclp3g82sisfK7mB03o7+hEeN2d9uGuualNO0SAB5N1iX/Mit5aPWeX9EOCSaOHAJPKuYk4q+6CYWib2YK+pqusOHx9TkQaeLIDAuAGQTtYSbSVW1B35nTGJx1Yn/PcMqZoYlhJl18alnuS9+pWPaHrI3r4ekbxPTl84LThakzFMA6jYSrbWHD5ioTaUC7KIDgmOQ32uWrMN3Vjf6uO+jx8L994tPWPzIA5aUy483Sx6tN8aZ8zH1cC0dPNzmeZPEoDZgg/uwNgNmcNfKJia1li5ogVAvK5DSINfHouHoFY1JF28ZrzaXsBG1tuXFq9S+egUSlg+Xvf6MU61r8JkHHmrUi9s8nIc4w+pXS2wHLs9sgilEvrrXAPhH5lKZ8HVrf+SsmKHGt+7gxjgEk1JYZx9c+v5sEUOI48japX35PQTylXNWrByEpLBWGPC03YduzGxwloIj7gmbYsBmt+9/EhN7AAPQMQE8AY2uefZoyVzymjx/xxzTHRQagh0f55C7IH/2xMOT84DjsJw6DU0bdG4DMF7uuCrdffwOTKSkMINEPUG4cq9i1AzJdIqwnj4OT3QOAJRiHA/Infwr5w9v8AB+ehPPEIcoDCtoXGYDBq1ZXonnfa5hJz8Da2oYgQN5Yxc4fQaZPge3U++SAsnvehGVAUW4+on73J2Fo/vfPwdfZKmTEyOB+gJiKtWjeuw8zGZkhACtMY8u3bUV0WgbmLv2LjOqODMCa2w2xqRiKF/cKPx37fgNvWzO9JNLIewiAk0gRlV+E5v0HwjSQcKHcVF+ytiwnuWgpPJ0dcI8MRY6CgB8wLfCBt0Aw2b0cN2A6mTYeLg+PtkuXYI5L6NpU17xKCMO/FGe9XFlifD5zZRlkJNtBb4DwsERSJytMXA5/uAoAZDKZ4muhlRlZGLr+CYaGh/GFT/rG7obOV4REVKCOMh0syb65dFMlVBm5cNZfo/wdwQx0E1CalvxwJyQbtwpDnitn4fnHu4AQPYvt4amekUJGL2PrWwcxaUjC7obu0tvWuTYhFVM3XFyR9x9jkSkzpbCQ5Cjgamzw32ihFpj6KQ/Ijl4IG3bt2AxEygNM/elZmGxqQl9TM8wabc+multraWY0KD32+wbt6pdyUs8Zl5cgvqAIGBmBh7ogMBRCALBB+t75cL/8yRYCUC0A8NeLEq0OPjJpy9FjsD6wBHs7Bqovjk7V0QLL/59j6knHS3MPFBp0jywxZiGupBS+3h74pqb8AKGVkNMB0WPbIdqwxc/00Xn4Th8jEyjCYWmtWK0Gp4tH+3tHME1vxx2I//nUjTYqOjCC4HMM/6tD+kPGlYqCmtRkvS4hyYD4BynVjgzDazZ/CRGIZ7hdQjgKjYVfMHeEgIpj6XXUaNB14n3MON2waGMnq/7dtJ5me6nPIqQgQcAXdNQzL1cUnEvVx8XrqKjUl5b6C9/BQeFFC71dWAvREke+w+kT4LXNoevMB5glx5xWx05svNZUTdPsO2ESC0qyYGOZJJ5p4vKqgnNapSIuIUqOuFwj1NnZgN1B3DZKfXbSgid8OwtbBUVBVLTgvJOff47B+uuw6xNhkyunAoezm08gQlG6EGLJ0VLjy1nR8s0amQQqqo6iDYlQpaRBYTBQ3Sjxa4F1dnMKzXmqfKe7OjHT2Q07Pb3zcTr02p0Xtt9of4Xk9S88PBJAEELLwrMyIbbw1zmpr6rFonQl74WU8oOEnBBOl1B6e5kfMAiyv1uphJceJKdKDZuX73u94+6eWrOlhYUb9Wnc54dJqE9EBfwiIVUpT3wuJ6U6XxVdpZKKM0JFBP3O6vL2ttnmrh7oGjw3aHeO0ZA5YO95fMNPs9B5aQCEjAsqeUB1F1gttjDjUGiAnAMzjIX6XOBgdutv9XG6mEZYvqBgx2IFIzuEeSbZB65IN17Y/gfqSW4KhD7b/AAAAABJRU5ErkJggg==);
  width: 2em;
  height: 2em;
  background-size: 2em;
  background-repeat: no-repeat no-repeat
}

.wbs-legend-color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid;
  vertical-align: middle;
  margin-right: 5px;
}

.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}

.table-striped td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

#easy_wbs.redmine .menu-item.active {
  background-color: #9DB9D5;
}

#easy_wbs.redmine .menu-item.active a.button {
  color: #fff;
}

.close_button.close-icon {
  float: right;
}

.mapjs-link-hit{
  fill:none;
}
.mapjs-draw-container{
  overflow: visible;
}

#wbs_menu .legend-toggler {
  text-align: center;
}

#wbs_legend {
  position: absolute;
  display: block;
  z-index: 99;
  background-color: white;
  overflow-x: auto;
  min-width: 160px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}


#wbs_legend .hotkey_link {
  margin: 4px 0;
}

.wbs-reload-modal-errors li {
  color: #cd0a0a;
}

.wbs-last-modal-diffs li {
  color: #bf993f;
}

.wbs-node-icons{
  position: absolute;
  left: 0;
  top: -18px;
  white-space: nowrap;
}

.wbs-node-icon{
  height: 20px;
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
}

.wbs-node-icon-avatar,.wbs-legend-item-cont .gravatar {
  height: 24px;
  width: 24px;
}

/*.scheme-by-assignee .wbs-node-icon-avatar {*/
/*display: inline-block;*/
/*}*/

.wbs-node-icon-avatar .gravatar{
  vertical-align: sub;
}

.wbs-node-icon-avatar .gravatar,
.wbs-legend-item-cont .gravatar {
  padding: 1px;
  border: 1px solid #777;
}

.wbs-node-icon-avatar .gravatar:hover,
.wbs-legend-item-cont .gravatar:hover {
  transform: scale(2);
  position: relative;
  z-index: 5;
}
.wbs-node-icon-progress{
  width:4px;
  background-color: #ee6666;
  border: 1px solid dimgray;
}
.wbs-node-icon-progress-bar{
  background-color: #66bb66;
  position:relative;
}
.wbs-node-icon-milestone-shell{
  border: 1px solid dimgray;
  transform: rotate(45deg);
  vertical-align: middle;
  display: inline-block;
  margin: 1px;
}
.wbs-node-icon-milestone-diamond{
  border-width: 4px;
  border-style: solid;
}

#context-menu li:not(.folder) > ul {
  display: none;
}

.wbs-node-filtered {
  opacity: 0.2;
}

.wbs-legend-item-cont {
  cursor: pointer;
}

.wbs-print-area {

}

.wbs-print-strip {
  position: relative;
  /*border: 1px solid red;*/
  border: 1px solid #cecece;
  overflow: hidden;
  white-space: nowrap;
  break-inside: avoid;
  margin: 10px 0;
  margin-left: -1px;
  display: inline-block;
  background-color: #ffffff;
  border-left: 0;
}
.wbs-print-area .mapjs-collapsor{
  display: none;
}

@media print{
  .gravatar{
    max-width: 100%;
    height: auto;
    -webkit-border-radius: 5000px;
    -moz-border-radius: 5000px;
    border-radius: 5000px;
  }
}
.mapjs-node span {
  word-wrap: break-word;
}

.controller-easy_wbs .easy-content-page{
  transform: none !important;
}
.mapjs-link-hit{
  pointer-events: all;
}
.mapjs-draw-container{
  pointer-events: none;
}
.link-edit-widget{
  background-color: white;
  border: 1px solid #dd3e3a;
  cursor: default;
}
