<% content_for :header_tags do
	stylesheet_link_tag('issue_history_tabs.css', :plugin => :redmine_issue_detailed_tabs_time)
end

	# {:label => :label_history_tab_all, :name => 'history_all'},
 	# {:label => :label_history_tab_activity, :name => 'history_activity'},
    # {:label => :label_history_tab_comments, :name => 'history_comments'},
    # {:label => :label_tabtime_questions, :name => 'tabtime_questions'},
    # {:label => :label_history_tab_private, :name => 'history_private'},
    # {:label => :label_history_tab_time, :name => 'tabtime_time'},
    
tabs = [
    {:label => :label_history_tab_all, :name => 'history_all'},
  ]

selected_tab = params[:tab] ? params[:tab].to_s : 'history_all'
reply_links = authorize_for('issues', 'edit')

c = ''

for journal in journals
	tabs.push({:label => :label_history_tab_comments, :name => 'history_comments'}) unless journal.notes.blank?

 	# if journal.question
#  		
		# if journal.question.assigned_to == User.current || journal.user == User.current
 			# #tabs.push({:label => :label_tabtime_my_questions, :name => 'tabtime_myquestions'} ) 
 			# tabs.push({:label => :label_tabtime_questions, :name => 'tabtime_questions'} ) 
		# end
 	# end
	tabs.push({:label => :label_history_tab_private, :name => 'history_private'} ) if journal.private_notes?
	
	
	c << "<div id='change-#{journal.id}' class='#{journal.css_classes}'>"
	c << "<h4>"
	c << link_to("##{journal.indice}", {:anchor => "note-#{journal.indice}"}, :class => "journal-link" )
	c << avatar(journal.user, :size => "24")
	c << content_tag('a', '', :name => "note-#{journal.indice}")
	c << authoring(journal.created_on, journal.user, :label => :label_updated_time_by)
	c << "</h4>"

	if (journal.details.any?)
		tabs.push( {:label => :label_history_tab_activity, :name => 'history_activity'})
		c << "<ul class='details'>"
		details_to_strings(journal.details).each do |string|
			c << "<li>" + string + "</li>"
		end
		c << "</ul>"
	end
 	c << render_notes(issue, journal, :reply_links => reply_links) unless journal.notes.blank?
	c << "</div>" 
	c <<  call_hook(:view_issues_history_journal_bottom, { :journal => journal })
	
end 


if User.current.allowed_to?(:view_time_entries, @project) 

	@issue.time_entries.each do |timelog|
	c << "<div id='time-#{timelog.id}' class='journal has-time'>"
	c << "<h4>"
	c << link_to("##{timelog.id}", {:anchor => "note-#{timelog.id}"}, :class => "journal-link")
	c << avatar(timelog.user, :size => "24")
	c << content_tag('a', '', :name => "note-#{timelog.id}")
		c << authoring(timelog.created_on, timelog.user, :label => :label_history_time_logged_by) 
		c << '</h4>'
		c << '<ul class="details">'
		c << '<li>'
				c << "<strong>" + l(:label_history_time_spent) + ":</strong> " + html_hours("%.2f" % timelog.hours) + " " + l(:label_history_time_hours_on) + " " + h(timelog.activity)
		c << '</li>'
			unless timelog.comments.empty?
				c << '<blockquote>'
					c << '<p>'
					c << timelog.comments 
				c << '</p>'
			c << '</blockquote>'
			c << '</li>'
			end
		c << '</ul>'
	c << '</div>'
	
	tabs.push( {:label => :label_history_tab_time, :name => 'tabtime_time'}) 
	end 
end 
tabs = tabs.uniq
%>

<div class="tabs">
	<ul>
		<% tabs.each do |tab| -%>
		<li>
			<%= link_to l(tab[:label]), { :tab => tab[:name] },
			:id => "tab-#{tab[:name]}",
			:class => ((tab[:name] != selected_tab ? 'tab-history' : 'tab-history selected')),
			:onclick => "return false;"%>
		</li>
		<% end -%>
	</ul>
</div>
<%= c.html_safe %>
<% heads_for_wiki_formatter if User.current.allowed_to?(:edit_issue_notes, issue.project) || User.current.allowed_to?(:edit_own_issue_notes, issue.project) %>

